html,
body {
  background-color: #fffaf4;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: min(max(2vw, 14px), 16px);
  width: 100%;
}

* {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
