.tag {
  font-size: min(max(2vw, 12px), 14px);
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 4px;
}

.tag-primary {
  border: 1px solid #2f89fc;
  color: #2f89fc;
  background-color: #e1ebf7;
}
