.tag {
  font-size: min(max(2vw, 12px), 14px);
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 4px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.tag:hover {
  scale: 1.01;
}

.tag-primary {
  border: 1px solid #0b8457;
  color: #0b8457;
  background-color: #e3f6ef;
}

.tag-danger {
  border: 1px solid #fc2f2f;
  color: #fc2f2f;
  background-color: #f8e8e8;
}
