.tag {
  font-size: min(max(2vw, 12px), 14px);
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 4px;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor:default;
}

.tag:hover {
  scale: 1.01;
}

.tag-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tag:hover .tag-tooltip {
  visibility: visible;
  opacity: 1;
}

.tag-primary {
  border: 1px solid #0b8457;
  color: #0b8457;
  background-color: #e3f6ef;
}

.tag-danger {
  border: 1px solid #fc2f2f;
  color: #fc2f2f;
  background-color: #f8e8e8;
}
